* {
	margin: 5px 5px;
	padding: 0;
	box-sizing: border-box;
}


#formulario{
	background-color: #0a6372;
	padding: 20px;
	
}


.oculto {
    display: none;
  }
  
  .contenido {
	display: none;
  }

.container {
	width: 100%;
	border: 5px solid black;
	padding: 1px 10px;
	text-align: justify;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	
}
.slider {
	overflow:hidden;
}

.slider img {
	padding: 5px;
	margin: 5px;
	width: 200px;
	height: 200px;
	object-fit: cover;
	transition: 0.5s;
	object-fit: cover;
	box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 10);

}
.box{
	width: 100%;
	

}


img:hover {
	transform: scale(1.5);
	cursor: pointer;
}



video{
	width: 85%;
	height: ;
	
	
}
aside{
	margin: 5%;
	
}

footer {
	font-size: 175%;
	font-style: oblique;
}
iframe{
	width: 85%

}


h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 350%;
	font-style: inherit;
	font-family: 'Gill Sans';

}

h3, 
p {
	text-align: center;
	font-style: oblique;
	background-color: rgba(255, 255, 255, 0.484);
	 padding: 10px;
}

body {
	border: 5px solid black;
	border-radius: 100px;
	text-align: center;
	margin: 5px auto;
	padding: 0px;
	background-image: url(/IMG/imagendefondo2.jpg);
	background-size: 100%;


}


.styled-table thead,
.styled-table tbody,
.styled-table th,
.styled-table td,
.styled-table tr {
  display: block;
}

.styled-table thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.styled-table tr {
  margin-bottom: 15px;
}

.styled-table td {
  border: none;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-left: 50%;
}

.styled-table td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
}


  
  @media screen and (max-width: 640px) {
	}
	
	 
	
	@media screen and (min-width: 640px) and (max-width: 1280px) {
	}
	
	 
	
	@media screen and (min-width: 1280px) {
	}